<%@gossips.each do |gossip|%>
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Potin</div>
  <div class="card-body">
    <h5 class="card-title"><p>Titre :  <%=gossip.title%></p></h5>
    <p class="card-text"><p>Auteur :  <%=gossip.user.first_name%></p><br></p>
  </div>
  <%end%>
</div>





<%@gossips.each do |gossip|%>
  <div class = com>
    <p>Titre :  <%=gossip.title%></p>
    <p>Auteur :  <%=gossip.user.first_name%></p><br>
    <a href=<%= gossip_path(gossip.id)%>><button type="button" class="btn btn-secondary">Clique ici</button></a><hr>
  </div>
<%end%>