<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>The Hacking Potins</title>
</head>
<body>

  <header class= "fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand" href="#">The Hacking <span class = red> Potins</span></a>
         <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=<%=root_path%>>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=team_path%>>La Team TPC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=contact_path%>>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
  </header><br><br>
<div class = com1>
  <h1 class = titles >The Hacking <span class = red> Potins</span></h1><br><br>
  <p>Ici, tu trouveras tous les potins liés a The Hacking Project</p>

  <p>Le principe est simple mais on va quand meme l'expliquer... Ici les langues de putes sont reines!<p>
  <p>Si tu entends quelques chose de croustillant dans les salons de The Hacking Project,<p>
  <p>c'est ici que tu dois venir le raconter! Pour le moment nous sommes en chantier...</p>
  <p>Mais d'ici peu un Formulaire sera a ta porter pour tout nous raconter dans la plus grande facilité!</p>
  <p>A très bientot!</p><br>

  <p>Voici la liste de potins que nous avons actuellement en stock:</p><br><hr class= com3>
</div>
<div class='containerfluid bg-secondary px-5 py-3 row d-flex justify-content-evenly'>
<%@gossips.each do |gossip|%>
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Potin</div>
      <div class="card-body">
        <h5 class="card-title"><p><span class = red>Contenu</span> : <%=gossip.title%></p></h5>
        <p class="card-text"><p><span class = red> Auteur</span> : <%=gossip.user.first_name%></p><br></p>
        <a href=<%= gossip_path(gossip.id)%>><button type="button" class="btn btn-secondary">Clique ici</button></a><hr>
      </div>
  </div>
  <%end%>
</div>

<footer class="footer fixed-bottom py-3 bg-light">
  <div class="container">
    <span class="text-muted">The Hacking Potins, powered by <span class= red>THE POWER CODERS</span>. Since 2021</span>
  </div>
</footer>

</body>
</html>